<h2> Trip Information </h2>

<ul>
  <li> Date: <%= @trip.date %> </li>
  <li> Rating: <%= @trip.rating %> </li>
  <li> Cost: <%= @trip.cost %> </li>
  <li> Passenger: <%= @trip.passenger.name %> - ID: <%= @trip.passenger.id %></li>
  <li> Driver: <%= @trip.driver.name %> - ID: <%= @trip.driver.id %> </li>
</ul>