<h3> Trip Details </h3>

<table id="trips">
  <tr>
    <th> ID </th>
    <th> Date </th>
    <th> Driver </th>
    <th> Passenger </th>
    <th> Rating </th>
    <th> Cost </th>
  </tr>

  <tr>
    <td> <%= @trip.id %> </td>
    <td> <%= @trip.date %> </td>
    <td> <%= @trip.driver.name %> </td>
    <td> <%= @trip.passenger.name %> </td>
    <td> <%= @trip.rating %> </td>
    <td> $<%= @trip.cost %> </td>
  </tr>

</table>

<br>

<%= form_for @trip  do |form| %>
  <%= form.select :rating, [[1], [2], [3], [4], [5]] %> 
  <%= form.submit "Update Rating"%>
<% end %>

<br>

<%= link_to "Back to Homepage", root_path %>