<h1> <%= verb %> a new passenger </h1>

<% if @passenger.errors.any? %>
  <h1>Errors</h1>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= form_for @passenger do |f| %>
    Name: <%= f.text_field :name %> <br/>
    Phone_num: <%= f.text_field :phone_num %> <br/>

    <%= f.submit action_name %>
  <% end %>
</div>