<h1> Passenger Index </h1>

<ul>
  <% @passengers.each do |passenger| %>
    <li>
    <%= passenger.id %>.  
    <%= link_to passenger.name, passenger_path(passenger) %> | 
    <%= passenger.phone_num %>
    <%= link_to "Edit", edit_passenger_path(passenger) %>
    <%= link_to "Delete", passenger_path(passenger), method: :delete, data: { confirm: "Are you sure you want to delete #{passenger.name}?"} %>
    </li>
  <% end %>
</ul>