<h2> Passenger Information </h2>

<ul>
  <li>ID: <%= @passenger.id %> </li>
  <li>Name: <%= @passenger.name %> </li>
  <li>Phone Number: <%= @passenger.phone_num %> </li>
  <%= link_to "Edit", edit_passenger_path(@passenger) %> | 
  <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: { confirm: "Are you sure you want to delete #{@passenger.name}?"} %>
</ul>

<p> Total_Cost: $<%= @passenger.total_cost %> </p>
<p> <%= link_to "Add Trip", passenger_trips_path(@passenger.id), method: :post %>  </p>

<table id="passenger_trips">
  <tr>
    <th> ID </th>
    <th> Date </th>
    <th> Driver </th>
    <th> Rating </th>
    <th> Cost </th>
  </tr>

  <% @passenger.trips.each do |trip| %>
    <tr>
      <td> <%= link_to "#{trip.id}", trip_path(trip) %> </td>
      <td> <%= trip.date %> </td>
      <td> <%= trip.driver.name %> </td>
      <td> <%= trip.rating %> </td>
      <td> $<%= trip.cost %> </td>
    </tr>
   <% end %>
</table>

<br>
<br>
<%= link_to "Back to Passengers List", passengers_path %>
<br>
<%= link_to "Back to Homepage", root_path %>