<h2> Passenger Information </h2>

<ul>
  <li>ID: <%= @passenger.id %> </li>
  <li>Name: <%= @passenger.name %> </li>
  <li>Phone Number: <%= @passenger.phone_num %> </li>
  <li>Total Costs: (PUT SUM HERE) </li>

  <li><%= link_to "Edit Passenger Info", edit_passenger_path(@passenger) %></li>
  <%= link_to "Delete passenger", passenger_path(@passenger), method: :delete, data: { confirm: "Are you sure you want to delete #{@passenger.name}?"} %>
  

</ul>


<section>
 <%# add a trip here %>
 
 Trips:
 <hr/>
<%  trip_array = Trip.where(passenger_id: @passenger.id).to_a %>
<% trip_array.each do |trip| %>
<ul>

 
<li>Trip ID: <%= link_to trip.id, trip_path(trip) %> </li>
<li>Trip Cost: $<%= (trip.cost.to_f) / 100 %></li>
<li>Rating: <%= trip.rating %></li>
<li>Driver Name: <%= trip.driver.name %></li>
</ul>
<% end %>


</section>