<h2> Passenger Information </h2>

<ul>
  <li>ID: <%= @passenger.id %> </li>
  <li>Name: <%= @passenger.name %> </li>
  <li>Phone Number: <%= @passenger.phone_num %> </li>
  <li>Total Costs: <%= @passenger.total_cost %></li>

  <li><%= link_to "Edit Passenger Info", edit_passenger_path(@passenger) %></li>
  <%= link_to "Delete passenger", passenger_path(@passenger), method: :delete, data: { confirm: "Are you sure you want to delete #{@passenger.name}?"} %>
  
  <li><%= link_to "Add New Passenger", new_passenger_path(@passenger) %></li>

  <li><%= link_to "Add a Trip", new_passenger_trip_path(@passenger) %></li>
</ul>
<%# request method lives in passenger show page, and call for the Driver.available_driver method and the create action for trip. %>
<section>
Trips:
<hr/>
<%  trip_array = Trip.where(passenger_id: @passenger.id).to_a %>
<% trip_array.each do |trip| %>
<ul>

 
<li>Trip ID: <%= link_to trip.id, trip_path(trip) %> </li>
<li>Trip Cost: $<%= (trip.cost.to_f) / 100 %></li>
<li>Rating: <%= trip.rating %></li>
<li>Driver Name: <%= trip.driver.name %></li>
</ul>
<% end %>


</section>