<h1> <%= verb %> a new driver </h1>

<div>
  <%= form_for @driver do |f| %>
    Name: <%= f.text_field :name %> <br/>
    VIN: <%= f.text_field :vin %> <br/>>

    <%= f.submit action_name %>
  <% end %>
</div>