<h2> Driver Information </h2>

<ul>
  <li> ID: <%= @driver.id %> </li>
  <li> Name: <%= @driver.name %> </li>
  <li> vin: <%= @driver.vin %> </li>
  <%= link_to "Edit", edit_driver_path(@driver) %>
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: { confirm: "Are you sure you want to delete #{@driver.name}?"} %>
</ul>

<p> Total_Earning: 
  $<%= @driver.total_earning %>
</p>

<p> Average_Rating: 
  <%= @driver.average_rating%>
</p>

<p> Driver_Status (active in trip?): 
  <%= @driver.active%>
</p>

<p> 
  <% if @driver.active == false %>
    <%= link_to "mark_offline", mark_online_path(@driver), method: :patch %>
  <% else %>
    <%= link_to "mark_online", mark_offline_path(@driver), method: :patch %>
  <% end %>
</p>

<section>
  Trips:
  <% @driver.trips.each do |trip| %>
    <li> ID: <%= link_to "#{trip.id}", trip_path(trip) %> </li>
    <li> Date: <%= trip.date %> </li>
    <li> Passenger: <%= trip.passenger.name %> - ID: <%= trip.passenger.id %> </li>
    <li> Cost: <%= trip.cost %> </li>
    <li> Rating: <%= trip.rating %> </li>
  <% end %>
</section>

<%= link_to "Back to drivers list", drivers_path %>