<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <section>
      <ul>
        <li id=title> Affordable Community RideShare </li>
        <ul id=function>
          <li> <%= link_to "Add New Driver", new_driver_path(@driver) %> | </li>
          <li> <%= link_to "Add New Passenger", new_passenger_path(@driver) %>  </li>
        </ul>
      </ul>
      </section>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <p> All Rights Reserved: NT & YY @2019 </p>
    </footer>
  </body>
</html>