<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class='header'>
      Affordable Community RideShare | 
      <%= link_to "Add New Driver", new_driver_path(@driver) %> | 
      <%= link_to "Add New Passenger", new_passenger_path(@driver) %>
    </section>

    <%= yield %>

    <section class='footer'>
      <p> All Rights Reserved: Natalie & Yitgop @2019 </p>
    </section>
  </body>
</html>
